<h1>INDEX</h1>
 
 <% if session[:user_id] != nil %>
 <% user = User.find_by_id(session[:user_id]).name %>
  
<% else %>
 Don't have an account? <%= link_to "Create an Account", new_user_url%>
 <br>
 <br>
 Are you an <em>awesome</em> Surfeit user? 

 <%= form_tag "/sessions/create" do %>

  
  <%= label_tag :email, "Email:" %>
  <%= text_field_tag :email %> <br>
  <%= label_tag :password, "Password:" %>
  <%= password_field_tag :password %><br>

  <%= submit_tag "Login"%>

<% end %>

<% end %>

